body {
  background-color: #1e1e1e;
  color: white;
}

.container {
  width: 100%;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.container-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

@media screen and (min-width: 900px) {
  .container-row {
    margin-top: none;
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }
}

.canvas-container {
  display: flex;
  justify-content: center;
}

#canvas {
  width: 550px;
  height: 600px;
}

button {
  appearance: none;
  font-size: 14px;
  padding: 4px;
  background-color: #444;
  border: none;
  border-bottom: 2px solid #333;
  border-radius: 2px;
}

button:active {
  transform: translateY(1px);
}

select {
  padding: 4px 24px 4px 4px;
  appearance: none;
  background: #444;
  border: none;
  border-bottom: 2px solid #333;
  border-radius: 2px;
  font-size: 14px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: center;
}

h1,
h2,
p {
  margin: 0px;
}

#canvas {
  width: 550px;
  height: 600px;
  /* border: 1px solid black; */
}

.options {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .options {
    align-items: flex-start;
  }
}

.options-row {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 300px;
}

.controls-column {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: left;
  gap: 4px;
  text-wrap: nowrap;
}

@media screen and (min-width: 900px) {
  .controls-column {
    grid-template-columns: auto auto;
  }
}

kbd {
  padding: 0px 8px;
  border-radius: 2px;
  background: #444;
  border-bottom: 1px solid #333;
  justify-self: right;
}
