html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #bbb;
  border: 1px solid outset;
}
button:active {
  border-style: inset;
}

#canvas {
  width: 100%;
  height: 100%;
}

#controls {
  position: fixed;
  top: 8px;
  left: 8px;
  display: flex;
  width: 100px;
  padding: 16px;
  background: white;
  border: 1px solid #777;
}
